@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
header {
    width: 100%;
    background-color: #E4CC7A;
    position: fixed;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Lily Script One', cursive;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(128, 123, 123, 1);
    font-size: 32px;
    padding-left: 20px;
}
.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.taskbar nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.taskbar nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.taskbar nav ul li {
    margin: 0 1rem;
}
.taskbar nav ul a {
    font-size: 20px;
    color: white;
    font-family: "Lato", sans-serif;
}
.cart {
    display: block;
    object-fit: cover;
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
