 .button{
        background-color: #E4CC7A;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border-color: white;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.button:hover span {
    padding-right: 25px;
  }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover span:after {
    opacity: 1;
    right: 0;
 }
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4CC7A;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.box{
    background-color: white;
    border-radius: 5px ;
    box-shadow: 0 2px 5px;
    width: 400px;
    max-width: 100%;
    margin-top: 20px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
display:inline-block;
margin-bottom: 5px;
}
.form-control input{
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width:100%;

}
h1{
    margin:0;
    padding: 10px;
}
h3{
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    margin-right: 10px; 
}
.signup{
    padding:0;
    margin:0;
    display:flex;
    justify-content: left;
    align-items: center;
   margin-left:2px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}